body {
    font-family: Helvetica, Arial;
    color: white;
    background-color: rgb(17, 38, 57);

    margin: auto;
}

header {
    position: fixed;
    margin: auto;
    background-color: rgb(17, 38, 57);

    width: 100%;
    height: 55px;
    min-width: 230px;
    z-index: 9;
}

header > nav#modo{
    position: fixed;
    text-align: left;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    z-index: 9;
}

nav#modo > a#claro {
    display: block;
    padding: 10px;
    border-radius: 10px;

    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

nav#modo > a#escuro {
    display: none;
    padding: 10px;
    border-radius: 10px;

    color: rgb(17, 38, 57);

    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

nav#modo > a#claro:hover {
    color: rgb(17, 38, 57);
    background-color: white;
}

nav#modo > a#escuro:hover {
    color: white;
    background-color: rgb(17, 38, 57);
}

header > nav#menu {
    color: white;

    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 9;
}

header > nav#menu_mobile {
    background-color: rgb(17, 38, 57);
    width: 100%;

    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    white-space: nowrap;

    text-align: center;
    
    z-index: 8;
}

header > i#hamb {
    position: fixed;
    display: none;

    padding-top: 10px;
    padding-bottom: 10px;
}

header > nav#c_redes_sociais {
    position: fixed;
    display: flex;
    
    left: 100%;
    transform: translateX(-100%);

    margin: auto;
    padding-right: 15px;
    padding-top: 5px;

    z-index: 9;
}

header > nav#e_redes_sociais {
    text-align: right;

    margin: auto;

    padding-right: 15px;
    padding-top: 5px;

    z-index: 9;
}

nav#menu_mobile > a#m_inicio {
    padding-top: 15px;
    padding-bottom: 15px;
    
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav#menu_mobile > a#m_sobre {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid white;
}

nav#menu_mobile > a#m_projetos {
    padding-top: 15px;
    padding-bottom: 15px;
    
    border-bottom: 1px solid white;
}

nav#menu > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#menu_mobile > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#c_redes_sociais > a {
    color: white;

    padding: 10px;
    transition-duration: 0.5s;
}

nav#e_redes_sociais > a {
    color: white;

    padding: 10px;
    transition-duration: 0.5s;
}

nav#menu > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#menu_mobile > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#c_redes_sociais > a:hover {    
    margin-right: 10px;
}

nav#e_redes_sociais > a:hover {
    margin-right: 10px;
}

section#apresentacao {
    position: relative;
    text-align: center;

    padding-top: 180px;
}

div#subtitulo {
    position: relative;
    margin: auto;
    white-space: nowrap;

    font-size: 110%;
}

div#nome {
    position: relative;
    white-space: nowrap;

    font-size: 210%;
}

div#tecnologias {
    position: relative;
    white-space: nowrap;

    font-size: 45px;
}

div#nome > h1 {
    opacity: 0;
    animation: invisivel 0.5s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

div#subtitulo > h2 {
    opacity: 0;
    animation: invisivel 0.5s 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

div#tecnologias > i {
    opacity: 0;
    animation: invisivel 0.5s 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;

    padding-right: 30px;
}

div#tecnologias > i#js {
    padding-left: 30px;
}

div#tecnologias > i#js:hover {
    color: rgb(223, 206, 74);
}

div#tecnologias > i#html:hover {
    color: rgb(221, 75, 36);
}

div#tecnologias > i#css:hover {
    color: rgb(53, 149, 207);
}

div#tecnologias > i#py:hover {
    color: rgb(240, 220, 78);
}

.revelacao_nome {
    overflow: hidden;
    opacity: 1;
    position: relative;

    &::after {
        opacity: 1;
        animation: animacao_revelacao 1s  ease forwards;
        background-color: white;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.revelacao_subtitulo {
    overflow: hidden;
    opacity: 1;
    position: relative;

    &::after {
        opacity: 0;
        animation: animacao_revelacao 1s 3s ease forwards;
        background-color: white;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@keyframes animacao_revelacao{
    from {
        transform: translateX(-101%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes invisivel {
    to {
        opacity: 1;
    }
}

section#sobre_mim {
    position: absolute;
    text-align: center;
    width: 100%;

    top: 760px;
    left: 50%;
    transform: translateX(-50%);
}

div#sobre_titulo {
    position: relative;
    background-color: rgb(17, 38, 57);
    width: 250px;
    
    left: 50%;
    transform: translateX(-50%);
    padding-left: 15px;
    padding-right: 15px;

    font-size: 150%;
    z-index: 1;
}

div#sobre_titulo {
    font-size: 30px;
}

hr#linha_1 {
    position: relative;
    background-color: white;
    height: 2px;

    bottom: 65px;
}

img#i_eu {
    border: 2px solid white;
    border-radius: 30px;

    margin: 5px;
    padding: 5px;
}

div#sobre_descricao {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    
    padding: 5px;
    text-align: center;
    
    font-size: 25px;
}

div#sobre_descricao > label#2020{
    padding-bottom: 30px;
}

div#sobre_descricao > label#2021{
    padding-bottom: 30px;

    text-decoration: none;
}

@media (max-width: 571px) {
    header > nav#menu{
        left: 40%;
        transform: translateX(-40%);
    }
}

@media (min-width: 540px) {
    header > nav#menu_mobile > a{
        display: none;
    }
}

@media (max-width: 540px) {
    header > nav#menu{
        display: none;
    }

    header > nav#menu_mobile{
        top: 6%;
    }

    header > i#hamb {
        display: block;
        
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 25px;
    }

    header > nav#c_redes_sociais {
        padding-top: 10px;
        padding-right: 2px;
    }

    header > nav#c_redes_sociais > a {
        padding: 5px;
    }

    header > nav#e_redes_sociais {
        padding-top: 10px;
        padding-right: 2px;
    }

    header > nav#e_redes_sociais > a {
        padding: 5px;
    }

    header > nav#modo {
        padding-left: 0px;
    }
}

@media (max-width: 540px) and (max-height: 530px) {
    nav#menu_mobile {
        margin-top: 13px;
    }
}

@media (max-width: 420px) and (max-height: 920px) {
    section#sobre_mim {
        top: 869px;
    }
}

@media (max-width: 517px) {
    body {
        overflow-x: hidden;
    }

    header > #hamb{
        left: 0%;
        transform: translateX(0%);
    }
}