main#projetos {
    position: absolute;
    text-align: center;

    margin-top: 50px;
    padding-bottom: 50px;

    width: 100%;
}

div#projetos_titulo {
    position: relative;
    background-color: rgb(17, 38, 57);
    width: 250px;
    
    left: 50%;
    transform: translateX(-50%);

    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 27px;
    font-family: Raleway;

    z-index: 1;
}

hr#linha_2 {
    position: relative;
    height: 2px;

    bottom: 65px;
}

.linhas {
    background-color: white;
}

.projetos > div {
    display: inline-block;

    color: white;
    vertical-align: top;
}

.cartao_projetos {
    width: 500px;
    height: 500px;
}

.icons {
    margin-top: 25px;

    color: white;
    transition: 0.5s;
}

.site {
    margin-left: 15px;
    margin-right: 15px;
}

.github {
    margin-right: 15px;
    margin-left: 15px;
}

/* Projeto Netflix */

section#netflix > div{
    margin: -2.5px;
}

#netflix_img {
    width: 900px;

    border-top-right-radius: 1.5%;
    border-bottom-right-radius: 1.5%;

    background-color: #141414;

    margin-bottom: 8px;
    padding: 5px 2px 5px 2px;

    box-shadow: 1px 0px 10px 3px #7c0101a5;
    clip-path: inset(-10px -10px -10px 0px);
}

#netflix_img > picture > img{
    display: block;

    width: 98%;
    height: 100%;
}

#netflix_des {
    background-color: #141414;

    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;

    padding: 5px 2px 5px 2px;

    box-shadow: 1px 0px 10px 3px #7c0101a5;
}

#netflix_texto > h1 {
    text-align: center;
    
    font-size: 25px;
    font-family: Raleway;
}

#netflix_texto > hr {
    width: 450px;
    
    border: 1px solid #ff3636;
}

#netflix_texto > p {
    text-align: left;
    font-size: 23px;

    margin-left: 30px;
    margin-right: 31px;

    line-height: 1.5;
}

#netflix_texto > a {
    font-size: 18px;
    text-decoration: none;
    
    color: #141414;
    transition: 0.5s;
}

#netflix_texto > a > i {
    font-size: 45px;
}

.icons:hover, #netflix_texto > a:hover {
    color: white;
}

/* Criador de Cartas */

#cartas {
    margin-top: 200px;
}

#cartas > div {
    margin: -2.4px;
}

#cartas_img {
    width: 900px;

    margin-bottom: 8px;
    padding: 5px 2px 5px 2px;
    
    background-color: #101116;
    box-shadow: 1px 0px 10px 3px #ffe69b35;
    clip-path: inset(-10px -10px -10px 0px);

    border-top-right-radius: 1.5%;
    border-bottom-right-radius: 1.5%;
}

#cartas_img > picture > img{
    width: 98%;
    height: 100%;
}

#cartas_des {
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;

    padding: 5px 2px 5px 2px;
    background-color: #101116;

    box-shadow: 1px 0px 10px 3px #ffe69b35;
    clip-path: inset(-10px 0px -10px -10px);
}

#cartas_texto > h1 {
    text-align: center;
    font-size: 25px;

    font-family: Raleway;
}

#cartas_texto > hr {
    width: 450px;
    
    border: 1px solid #ffe69b;
}

#cartas_texto > p {
    text-align: left;
    font-size: 23px;

    margin-left: 30px;
    margin-right: 30px;

    line-height: 1.5;
}

#cartas_texto > a {
    font-size: 18px;
    text-decoration: none;
    
    color: #141414;
    transition: 0.5s;
}

#cartas_texto > a > i {
    font-size: 45px;
}

.icons:hover, #cartas_texto > a:hover {
    color: white;
}

/* Jogo da cobrinha */

#cobra {
    margin-top: 200px;
}

#cobra > div {
    margin: -2.5px;
}

#cobra_img {
    width: 900px;
    margin-bottom: 8px;
    background-color: black;
    padding: 5px 2px 5px 2px;

    border-top-right-radius: 1.5%;
    border-bottom-right-radius: 1.5%;

    box-shadow: 1px 0px 10px 3px #add8e65c;
    clip-path: inset(-10px -10px -10px 0px);

}

#cobra_img > picture > img{
    width: 98%;
    height: 100%;
    object-fit: contain;

    background-color: black;
}

#cobra_des {
    background-color: black;
    padding: 5px 2px 5px 2px;

    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;

    box-shadow: 1px 0px 10px 3px #add8e65c;
    clip-path: inset(-10px 0px -10px -10px);
}

#cobra_texto > h1 {
    text-align: center;
    font-size: 25px;

    font-family: Raleway;
}

#cobra_texto > hr {
    width: 450px;
    
    border: 1px solid #add8e6;
}

#cobra_texto > p {
    text-align: left;
    font-size: 23px;

    margin-left: 30px;
    margin-right: 30px;

    line-height: 1.8;
}

#cobra_texto > a {
    font-size: 20px;
    text-decoration: none;
    
    color: black;
    transition: 0.5s;
}

#cobra_texto > a > i {
    margin-top: 40px;
    font-size: 50px;
}

#cobra_texto > a:hover {
    color: white;
}

/* Responsividade */

@media (max-width: 1430px) {
    #netflix_img {
        width: 800px;
        background-color: #141414;
    }

    #netflix_img > picture > img{
        width: 100%;
    }

    #cartas_img {
        width: 800px;
        background-color: #101116;
    }

    #cartas_img > picture > img{
        object-fit: contain;

        width: 100%;
    }

    #cobra_img {
        width: 800px;
    }

    #cobra_img > picture > img{
        object-fit: contain;

        width: 100%;
    }
}

@media (max-width: 1332px) {
    #netflix_img {
        width: 750px;
    }

    #cartas_img {
        width: 750px;
    }

    #cobra_img {
        width: 750px;
    }
}

@media (max-width: 1295px) {
    #netflix_img {
        width: 700px;
    }

    #cartas_img {
        width: 700px;
    }

    #cobra_img {
        width: 700px;
    }
}

@media (max-width: 1245px) {
    #netflix_img {
        width: 650px;
    }

    #cartas_img {
        width: 650px;
    }

    #cobra_img {
        width: 650px;
    }
}

@media (max-width: 1195px) {
    #netflix_img {
        width: 600px;
    }

    #netflix_img > picture > img {
        object-fit: contain;
    }

    #cartas_img {
        width: 600px;
    }

    #cobra_img {
        width: 600px;
    }
}

@media (max-width: 1145px) {
    #netflix_img {
        width: 550px;
    }

    #cartas_img {
        width: 550px;
    }

    #cobra_img {
        width: 550px;
    }
}

@media (max-width: 1095px) {
    #netflix_img {
        width: 500px;
    }

    #cartas_img {
        width: 500px;
    }

    #cobra_img {
        width: 500px;
        object-fit: contain;
    }
}

@media (max-width: 1045px) {
    #netflix_img {
        width: 450px;
    }

    #cartas_img {
        width: 450px;
    }

    #cobra_img {
        width: 450px;
    }
}

@media (max-width: 1003px) {
    #netflix_des {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        border-bottom-left-radius: 0%;
    }

    #netflix_texto > a {
        color: white;
    }

    #netflix_img {
        background-color: #141414;

        height: 1150px;
        width: 500px;

        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 1%;
        border-bottom-right-radius: 1%;

        clip-path: inset( 0px -10px -10px -10px);
    }

    #netflix_img > picture > img {
        height: 100%;

        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 1%;
        border-bottom-right-radius: 1%;
    }
    
    #cartas > div {
        margin-top: 0px;
    }

    #cartas_des {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        clip-path: inset( -10px -10px 2.4px -10px);
    }

    #cartas_texto > a {
        color: white;
    }

    #cobra_texto > a > i {
        margin-top: 40px;
        font-size: 40px;
    }

    #cartas_img {
        background-color: #141414;

        height: 1150px;
        width: 500px;
        margin-top: 10px;

        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 1%;
        border-bottom-right-radius: 1%;

        clip-path: inset( 0px -10px -10px -10px);
    }

    #cartas_img > picture > img {
        height: 100%;

        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 1%;
        border-bottom-right-radius: 1%;

        object-fit: fill;
    }

    #cartas_des {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }

    #cobra_des {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        clip-path: inset( -10px -10px 0px -10px);
    }

    #cobra_texto > a {
        color: white;
    }

    #cobra_img {
        background-color: #141414;

        height: 500px;
        width: 500px;
        margin-top: 10px;

        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 1%;
        border-bottom-right-radius: 1%;

        clip-path: inset( 5px -10px -10px -10px);
    }

    #cobra_img > picture > img {
        height: 100%;

        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 1%;
        border-bottom-right-radius: 1%;

        object-fit: contain;
    }
}