section#sobre_mim {
    position: absolute;
    
    text-align: center;
    width: 100%;
    min-width: 500px;

    top: 760px;
}

div#sobre_titulo {
    position: relative;
    background-color: rgb(17, 38, 57);
    width: 250px;
    
    left: 50%;
    transform: translateX(-50%);

    padding-bottom: 37px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 27px;
    font-family: Raleway;

    z-index: 1;
}

hr#linha_1 {
    position: relative;
    background-color: white;
    height: 2px;

    bottom: 100px;
}

hr#linha_2 {
    position: relative;
    background-color: white;
    height: 2px;

    bottom: 100px;
}

.linha_p {
    position: relative;
    background-color: white;

    height: 1px;
}

img#i_eu {
    width: 230px;

    border: 2px solid white;
    border-radius: 50px;

    margin: 5px;
    padding: 5px;
}

div#sobre_descricao {
    margin-top: 30px;
    
    padding: 5px;
    text-align: justify;
    
    font-size: 23px;
}

div#sobre_descricao > p > a {
    text-decoration: none;
}

@media (min-width: 1030px) {
    #sobre_descricao {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width: 1030px) {
    #sobre_descricao {
        margin-left: none;
        margin-right: none;
    }
}