/* responsividade antes de continuar  */

body {
    font-family: Helvetica, Arial;

    margin: auto;
    background-color: rgb(17, 38, 57);
}

header {
    margin: auto;
}

header > nav#modo {
    position: absolute;
    text-align: left;

    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav#menu {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > i#hamb {
    display: none;

    padding-top: 10px;
    padding-bottom: 10px;
}

header > nav#redes_sociais {
    text-align: right;

    margin: auto;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
}

nav#modo > a {
    border-radius: 30px;
    color: white;

    padding: 10px;
}

nav#menu > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#redes_sociais > a {
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#modo > a:hover {
    color: rgb(17, 38, 57);
    background-color: white;
    
    transition-duration: 0.5s;
}

nav#menu > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#redes_sociais > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

@media (max-width: 535px) {
    header > nav#menu{
        display: none;
        top: 5%;
    }

    header > i#hamb {
        display: block;
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 25px;
    }

    header > nav#redes_sociais {
        padding-right: 0px;
    }

    header > nav#modo {
        padding-left: 0px;
    }

    header > nav#redes_sociais > a {
        padding: 3px;
    }
}