body {
    font-family: Helvetica, Arial;
    color: white;
    background-color: rgb(17, 38, 57);

    margin: auto;
}

header {
    margin: auto;

    min-width: 300px;
}

header > nav#modo {
    position: absolute;
    text-align: left;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

nav#modo > a#claro {
    display: block;
}

nav#modo > a#escuro {
    display: none;

    color: rgb(17, 38, 57);
}

header > nav#menu {
    color: white;

    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav#menu_mobile {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > i#hamb {
    display: none;

    padding-top: 10px;
    padding-bottom: 10px;
}

header > nav#c_redes_sociais {
    text-align: right;

    margin: auto;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav#e_redes_sociais {
    text-align: right;

    margin: 3px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

nav#modo > a {
    border-radius: 5px;
    
    padding: 10px;
}

nav#menu > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#menu_mobile > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#c_redes_sociais > a {
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#e_redes_sociais > a {
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#modo > a#claro:hover {
    color: rgb(17, 38, 57);
    background-color: white;
    
    transition-duration: 0.5s;
}

nav#modo > a#escuro:hover {
    color: white;
    background-color: rgb(17, 38, 57);
    
    transition-duration: 0.5s;
}

nav#menu > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#menu_mobile > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#c_redes_sociais > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#e_redes_sociais > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

@media (max-width: 571px) {
    header > nav#menu{
        left: 40%;
        transform: translateX(-40%);
    }
}

@media (min-width: 540px) {
    header > nav#menu_mobile > a{
        display: none;
    }
}

@media (max-width: 538px) {
    header > nav#menu{
        display: none;
    }

    header > nav#menu_mobile{
        top: 6%;
    }

    header > i#hamb {
        display: block;
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 25px;
    }

    header > nav#c_redes_sociais {
        padding-right: 0px;
    }

    header > nav#c_redes_sociais > a {
        padding: 3px;
    }

    header > nav#e_redes_sociais {
        padding-right: 0px;
    }

    header > nav#e_redes_sociais > a {
        padding: 3px;
    }

    header > nav#modo {
        padding-left: 0px;
    }
}

@media (max-width: 300px) {
    header > #hamb{
        left: 0%;
        transform: translateX(0%);
    }
}