body {
    font-family: Helvetica, Arial;
    color: white;
    background-color: rgb(17, 38, 57);

    margin: auto;
}

header {
    margin: auto;

    min-width: 230px;
}

div#nome {
    position: fixed;
    margin: auto;

    padding: 20px;
    bottom: 49%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 174%;
}

div#subtitulo {
    position: fixed;
    margin: auto;

    bottom: 68%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 120%;
}

div#tecnologias {
    position: fixed;
    margin: auto;

    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 50px;
}

div#nome > h1 {
    opacity: 0;
    animation: invisivel 0.5s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

div#subtitulo > h2 {
    opacity: 0;
    animation: invisivel 0.5s 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

div#tecnologias > i {
    opacity: 0;
    animation: invisivel 0.5s 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;

    padding-right: 30px;
}

div#tecnologias > i:hover {
    color: rgb(130, 3, 149);
}

.revelacao_nome {
    overflow: hidden;
    opacity: 1;
    position: relative;

    &::after {
        opacity: 1;
        animation: animacao_revelacao 1s  ease forwards;
        background-color: white;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.revelacao_subtitulo {
    overflow: hidden;
    opacity: 1;
    position: relative;

    &::after {
        opacity: 0;
        animation: animacao_revelacao 1s 3s ease forwards;
        background-color: white;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@keyframes animacao_revelacao{
    from {
        transform: translateX(-101%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes invisivel {
    to {
        opacity: 1;
    }
}

header > nav#modo{
    position: absolute;
    text-align: left;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

nav#modo > a#claro {
    display: block;
    padding: 10px;
    border-radius: 10px;

    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

nav#modo > a#escuro {
    display: none;
    padding: 10px;
    border-radius: 10px;

    color: rgb(17, 38, 57);

    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

nav#modo > a#claro:hover {
    color: rgb(17, 38, 57);
    background-color: white;
}

nav#modo > a#escuro:hover {
    color: white;
    background-color: rgb(17, 38, 57);
}

header > nav#menu {
    color: white;

    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav#menu_mobile {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > i#hamb {
    position: fixed;
    display: none;

    padding-top: 10px;
    padding-bottom: 10px;
}

header > nav#c_redes_sociais {
    text-align: right;

    margin: auto;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav#e_redes_sociais {
    text-align: right;

    margin: 3px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

nav#menu > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#menu_mobile > a {
    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#c_redes_sociais > a {
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#e_redes_sociais > a {
    color: white;

    padding: 5px;
    transition-duration: 0.5s;
}

nav#menu > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(130, 3, 149);
    
    margin: 10px;
}

nav#menu_mobile > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#c_redes_sociais > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

nav#e_redes_sociais > a:hover {
    text-decoration: overline;
    text-decoration-color: rgb(94, 108, 125);
    
    margin: 10px;
}

@media (max-width: 571px) {
    header > nav#menu{
        left: 40%;
        transform: translateX(-40%);
    }
}

@media (min-width: 540px) {
    header > nav#menu_mobile > a{
        display: none;
    }
}

@media (max-width: 538px) {
    header > nav#menu{
        display: none;
    }

    header > nav#menu_mobile{
        top: 6%;
    }

    header > i#hamb {
        display: block;
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 25px;
    }

    header > nav#c_redes_sociais {
        padding-right: 0px;
    }

    header > nav#c_redes_sociais > a {
        padding: 3px;
    }

    header > nav#e_redes_sociais {
        padding-right: 0px;
    }

    header > nav#e_redes_sociais > a {
        padding: 3px;
    }

    header > nav#modo {
        padding-left: 0px;
    }
}

@media (max-width: 300px) {
    header > #hamb{
        left: 0%;
        transform: translateX(0%);
    }
}